@{
    ViewBag.Title = "User Maintenance";
}
<div class="top_banner">
    <div class="leftbanner"><img src="~/Content/Images/banner.jpg" /></div>
    <div class="rightbanner"><img src="~/Content/Images/login.icon.png" /></div>
</div>
<div class="UsersGrid">
    @Html.Action("UsersMaintPartial")
</div>

